<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approval</title>
    <meta charset="utf-8">
    <link rel="icon" href="icon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/adminDesign.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <img src="/main-logo.png" alt="main-logo" height="200px" width="200px">
        <h1>Admin Approval</h1>
        <p>Approval of new users.</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li><a href="adminMonitor">Monitor</a></li>
                <li class="active"><a href="adminApproval">Approvals</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Logout"><span class="glyphicon glyphicon-info-sign"></span> Log-Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-full">
<div class="row">
    <form id="SubmitApproval" method="POST" enctype="/adminApproval">
        <table class="table table-hover">
            <tr>
                <th>account_id</th>
                <th>address</th>
                <th>first_name</th>
                <th>last_name </th>
                <th>middle_name</th>
                <th>email_address</th>
                <th>birthday</th>
                <th>phone_number</th>
                <th>role_id</th>
                <th>Approval</th>
            </tr>

            <%
            for(var i=0; i <data.length; i++){
                var b = new Date(data[i].birthday);
            %>
            <tr>
                <td><%= data[i].account_id %></td>
                <td><%= data[i].address%></td>
                <td><%= data[i].first_name %></td>
                <td><%= data[i].last_name %></td>
                <td><%= data[i].middle_name %></td>
                <td><%= data[i].email_address %></td>
                <td><%= b.toLocaleDateString() %></td>
                <td><%= data[i].phone_number %></td>
                <td><%= data[i].role_id %></td>
                <td>
                    <!--<input type ="text" name="wag">-->
                    <!--<input type="text" name="samplesss">-->
                    <select name="samplesss">
                        <option  value="01">Accept</option>
                        <option  value="02">Decline</option>
                    </select>
                </td>
            </tr>
            <% } %>
        </table>
        <button type="submit" value="Submit">Submit</button>




    </form>
</div>
</div>

</body>
</html>
