<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="row" >
<div  class="col-sm-4">
    <h1>Admin Monitoring</h1>
    <form id="SubmitDates" method="POST" enctype="/AdminMonitor">
        <div class="form-group">
            <h3>Request</h3>
            <label for="from">Date from:</label>
            <input type="date" class="form-control" id="from"  name="from">
        </div>
        <div class="form-group">
            <label for="to">Date to:</label>
            <input type="date" class="form-control" id="to"  name="to">
        </div>

        <button type="submit" value="submit" class="btn btn-default">Submit</button>
    </form>

    <form id="SubmitDates" method="POST" enctype="/AdminMonitor">
        <div class="form-group">
            <h3>Feedback</h3>
            <label for="fromF">Date from:</label>
            <input type="date" class="form-control" id="fromF"  name="fromF">
        </div>
        <div class="form-group">
            <label for="toF">Date to:</label>
            <input type="date" class="form-control" id="toF"  name="toF">
        </div>

        <button type="submit" value="submit" class="btn btn-default">Submit</button>
    </form>
</div>




<br>
    <h1>Welcome <%= username%> !!</h1>
    <!--
    <form method="POST" enctype="multipart/form-data">
        <button type="submit" name="Logout" class="btn btn-default">Log-out</button>
    </form>-->







<div class="table-responsive">

<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Start Servicing</th>
        <th>End Servicing</th>
        <th>Service </th>
        <th>User</th>
        <th>Request Status</th>
    </tr>
    <%
    for(var i=0; i <data.length; i++){
        var s = new Date(data[i].start_servicing);
        var e = new Date(data[i].end_servicing);
    %>
    <tr>
        <td><%= data[i].request_id %></td>
        <td><%= s.toLocaleDateString()%></td>
        <td><%= e.toLocaleDateString() %></td>
        <td><%= data[i].service_name%></td>
        <td><%= data[i].USER %></td>
        <td><%= data[i].request_status %></td>
    </tr>
    <% } %>
</table>


<br>



<table class="table">
    <tr>
        <th>Feedback ID</th>
        <th>Feedback Date</th>
        <th>Feedback Messages</th>
        <th>Contact Number</th>
        <th>User</th>
        <th>Ranking</th>
        <th>Feedback Status</th>


    </tr>
    <%
    for(var i=0; i <data2.length; i++){
        var f = new Date(data2[i].feedback_date);
        /*var c = new Date(data2[i].consideration_date);*/
    %>
    <tr>
        <td><%= data2[i].feedback_id %></td>
        <td><%= f.toLocaleDateString()%></td>
        <td><%= data2[i].feedback_messages %></td>
        <td><%= data2[i].contacting_phone_number %></td>
        <td><%= data2[i].USER %></td>
        <td><%= data2[i].ranking %></td>
        <td><%= data2[i].feedback_status %></td>
    </tr>
    <% } %>
</table>
</div>
</div>
</div>
</body>
</html>